footer.footer(data-parallax='footer')
    .footer__paralax(data-parallax-target='footer')
    .footer__wrapper
        a(href='https://www.kontent.net', rel='noreferrer', target='_blank')
            img.footer__logo(src='/img/ui/logo-kontent.svg')
    .footer__wrapper
        if footer
            .footer__note !{minify(footer.copyright.value)}
            .footer__navigation !{minify(footer.external_links.value)}