if (previewFlag)
    .preview-warning
        .preview-warning__container
            if (host.indexOf('localhost') > -1 || host.indexOf('-dev') > -1)
                | !{UIMessages.banner_for_dev_environment.value}
            else if (host.indexOf('-master') > -1)
                | !{UIMessages.banner_for_preview_environment.value}
