- const host = req.headers.host;
- const previewFlag = (host.indexOf('localhost') > -1 || host.indexOf('preview-') > -1 || host.indexOf('live-dev') > -1) && (UIMessages && UIMessages.banner_for_dev_environment.value !== '<p><br></p>' && UIMessages.banner_for_preview_environment.value !== '<p><br></p>');