{
    "extends": "standard",
    "rules": {
        "semi": "off",
        "indent": "off",
        "comma-dangle": "off",
        "operator-linebreak": "off",
        "space-before-function-paren": "off",
        "space-infix-ops": "off",
        "no-return-await": "off"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "grecaptcha": "readonly",
        "helperForm": "readonly",
        "Prism": "readonly",
        "searchAPI": "readonly",
        "helper": "readonly",
        "autocomplete": "readonly",
        "supportsPassive": "readonly",
        "$clamp": "readonly",
        "UIMessages": "readonly",
        "Intercom": "readonly",
        "dntExcluded": "readonly",
        "basicLightbox": "readonly",
        "algoliasearch": "readonly",
        "renderReCaptcha": "readonly"
    }
}
