{
  "name": "one-help-portal",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "public/js/src/app.min.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "views",
      "views/includes",
      "public",
      "public/css",
      "public/css/src",
      "public/css/src/components",
      "public/css/src/general",
      "public/js",
      "public/js/src"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "views/design/article.pug",
      "imports": [
        "views/design/includes/layout.pug",
        "views/design/includes/sub-navigation.pug",
        "views/design/includes/article-info.pug",
        "views/design/includes/table-of-contents.pug",
        "views/design/includes/language-selector.pug",
        "views/design/includes/text.pug",
        "views/design/includes/lists.pug",
        "views/design/includes/inline-icons.pug",
        "views/design/includes/inline-code.pug",
        "views/design/includes/code.pug",
        "views/design/includes/images.pug",
        "views/design/includes/tables.pug",
        "views/design/includes/callouts.pug",
        "views/design/includes/embeds.pug",
        "views/design/includes/head.pug",
        "views/design/includes/navigation.pug",
        "views/design/includes/footer.pug"
      ]
    },
    {
      "path": "views/design/home.pug",
      "imports": [
        "views/design/includes/layout.pug",
        "views/design/includes/head.pug",
        "views/design/includes/navigation.pug",
        "views/design/includes/footer.pug"
      ]
    },
    {
      "path": "views/includes/layout.pug",
      "imports": [
        "views/includes/head.pug",
        "views/includes/navigation.pug",
        "views/includes/footer.pug"
      ]
    },
    {
      "path": "views/pages/error.pug",
      "imports": [
        "views/includes/layout.pug",
        "views/includes/head.pug",
        "views/includes/navigation.pug",
        "views/includes/footer.pug"
      ]
    },
    {
      "path": "views/pages/home.pug",
      "imports": [
        "views/includes/layout.pug",
        "views/includes/head.pug",
        "views/includes/navigation.pug",
        "views/includes/footer.pug"
      ]
    },
    {
      "path": "views/pages/tutorials.pug",
      "imports": [
        "views/includes/layout.pug",
        "views/includes/head.pug",
        "views/includes/navigation.pug",
        "views/includes/footer.pug"
      ]
    },
    {
      "path": "public/css/src/app.min.less",
      "imports": [
        "public/css/src/general/reset.less",
        "public/css/src/general/icon-variables.less",
        "public/css/src/general/utilities.less",
        "public/css/src/components/navigation.less",
        "public/css/src/components/footer.less",
        "public/css/src/components/data-toggle.less",
        "public/css/src/components/sub-navigation.less",
        "public/css/src/components/article.less",
        "public/css/src/components/basic-lightbox.less",
        "public/css/src/components/callout.less",
        "public/css/src/components/embed.less",
        "public/css/src/components/table.less",
        "public/css/src/components/table-of-contents.less",
        "public/css/src/components/inline-icons.less",
        "public/css/src/components/language-selector.less",
        "public/css/src/components/anchor-copy.less",
        "public/css/src/components/prism.less",
        "public/css/src/components/suggestion.less",
        "public/css/src/components/hero.less",
        "public/css/src/components/presentation.less",
        "public/css/src/components/selection.less",
        "public/css/src/components/cta.less",
        "public/css/src/components/button.less",
        "public/css/src/general/print.less"
      ]
    },
    {
      "path": "public/js/src/app.min.js",
      "imports": [
        "public/js/src/custom/polyfills.js",
        "public/js/src/custom/helper.js",
        "public/js/src/custom/inline-elements.js",
        "public/js/src/custom/data-toggle.js",
        "public/js/src/custom/sub-navigation.js",
        "public/js/src/vendor/basic-lightbox.js",
        "public/js/src/custom/lightbox.js",
        "public/js/src/custom/tables.js",
        "public/js/src/custom/table-of-contents.js",
        "public/js/src/custom/search.js",
        "public/js/src/vendor/prism.js",
        "public/js/src/custom/lazy-load.js",
        "public/js/src/custom/gtag-events.js",
        "public/js/src/custom/intercom.js"
      ]
    },
    {
      "path": "views/design/includes/layout.pug",
      "imports": [
        "views/design/includes/head.pug",
        "views/design/includes/navigation.pug",
        "views/design/includes/footer.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7905,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost:3000"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../\"},\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 2 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"autoCompile\":false}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"relative\":\"../\"},\"outputSuffix\":\"\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"../\"},\"outputSuffix\":\"\",\"compiler-babel\":{\"enabled\":true}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}