extends ./includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ./includes/sub-navigation.pug
            .article__right
                .article__content
                    h1 Heading level 1
                    include ./includes/article-info.pug
                    include ./includes/table-of-contents.pug
                    p Below, you can find article elements.
                    h2 Language selector
                    include ./includes/language-selector.pug
                    h2 Typography
                    include ./includes/text.pug
                    include ./includes/lists.pug
                    h2 Inline icons
                    include ./includes/inline-icons.pug
                    h2 Inline code
                    include ./includes/inline-code.pug
                    h2 Code block
                    include ./includes/code.pug
                    h2 Images
                    include ./includes/images.pug
                    h2 Tables
                    include ./includes/tables.pug
                    h2 Callouts
                    include ./includes/callouts.pug
                    h2 Embeds
                    include ./includes/embeds.pug
                
                
                
