extends ./includes/layout.pug
block content
    .hero
        .hero__wrapper
            .hero__left
                h1.hero__heading One Help Portal
                form.hero__search
                    .hero__search-icon(aria-hidden='true')
                    label.sr-only(for='nav-search') Search for guides, how to's and more
                    input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder='Search for guides, how to\'s and more')
                #searchbox
                a.hero__note-link(href="#") What is headless CMS?
            .hero__right
                .hero__screen
    main(id='main').presentation
        section.presentation__section
            h2.presentation__heading Develop apps
            h3.presentation__sub-heading
                p Choose your platform.
            ul.selection.selection--platforms
                li.selection__item
                    a.selection__link(href='#')
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/35bd17f9-9d3a-4c18-a183-229fd304adf9/js.jpg')
                        .selection__title JavaScript
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/d60f1951-c600-4157-a0df-d9af05b3281a/microsoft-net.png')
                        .selection__title .NET
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/5dbb7304-4a7f-4140-80e3-58bd7b28cf90/android_logo_PNG17.png')
                        .selection__title Android
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/1b4fbba6-f051-4051-a29a-54f23647f04f/20140711swiftlogo_sq_500.jpg')
                        .selection__title Swift
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/e805c647-99bb-4567-999b-4047e3c753a4/PHP-logo.svg_.png')
                        .selection__title PHP
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/bdb32dfe-b183-45e8-b220-623039d31ba0/gatsby-logo.jpg')
                        .selection__title Gatsby / SSG
                li.selection__item
                    .selection__link
                        img.selection__img(src='https://preview-assets-us-01.kc-usercontent.com:443/ad858591-7c5b-00e9-52c1-796f3aebc535/e2650d87-0de7-4043-b3ba-85ddade88879/java.png')
                        .selection__title Java
        section.presentation__section
            h2.presentation__heading Setup projects
            ul.selection
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Create content types
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Create taxonomies
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Set up languages
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Set up roles and workflow
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Invite team
        section.presentation__section
            h2.presentation__heading Write and collaborate
            ul.selection
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Search and filter
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Write in editor
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Compose content
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Comment and suggest
                li.selection__item
                    a.selection__link(href="#")
                        img.selection__img(src='https://plchldr.co/i/290x168?&bg=ededed&text=Image')
                        .selection__title Publish
    aside.border-top
        .cta
            h2.cta__heading Still don’t know what to do?
            div
                a.button(href="#") Contact our support
            div
                a.cta__link(href="#") Join our developer community
        
    