p Youtube
.embed
    iframe.lazy(width='560', height='315', data-src='https://www.youtube-nocookie.com/embed/eHv2nAnBBqM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    noscript
        iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/eHv2nAnBBqM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
p.print-only 
    i Play video on 
        a(href='https://www.youtube.com/watch?v=eHv2nAnBBqM') https://www.youtube.com/watch?v=eHv2nAnBBqM
p Codepen
.embed
    iframe.lazy(height='265', scrolling='no', data-src='https://codepen.io/milanlund/embed/gZZKVz/?height=265&theme-id=0&default-tab=js,result', frameborder='no', allowtransparency='true', allowfullscreen='true')
    noscript
        iframe(height='265', scrolling='no', src='https://codepen.io/milanlund/embed/gZZKVz/?height=265&theme-id=0&default-tab=js,result', frameborder='no', allowtransparency='true', allowfullscreen='true')
p.print-only 
    i See the code example on 
        a(href='https://codepen.io/nathantaylor/pen/vvdMGQ') https://codepen.io/nathantaylor/pen/vvdMGQ
p Stackblitz
.embed
    iframe.lazy(data-src='https://stackblitz.com/edit/js-dannql?embed=1&file=index.js')
    noscript
        iframe(src='https://stackblitz.com/edit/js-dannql?embed=1&file=index.js')
p.print-only 
    i See the code example on 
        a(href='https://stackblitz.com/edit/js-dannql?file=index.js') https://stackblitz.com/edit/js-dannql?file=index.js
