footer.footer
    .footer__wrapper
        .footer__note Copyright &copy; 2004&ndash;#{(new Date()).getFullYear()} 
            a.footer__link(href='https://www.kentico.com', target='_blank', rel='noopener') Kentico Software
            | . All rights reserved.
        ul.footer__navigation
            li.footer__navigation-item
                a.footer__link(href=`#`) GDPR
            li.footer__navigation-item
                a.footer__link(href=`#`) Security
            li.footer__navigation-item
                a.footer__link(href=`#`) Privacy Policy