p  Insert new component {@icon-chain@} Insert new component {@icon-chevron-right-square@}.
ul 
    li Insert new component {@icon-chrome@} Insert new component {@icon-e-book@} 
    li Insert new component {@icon-flag@} Insert new component {@icon-hat-moustache@} 
        ol
            li Insert new component {@icon-home@} Insert new component {@icon-l-header-cols-2-footer@} 
            li Insert new component {@icon-layouts@} Insert new component {@icon-light-bulb@}
            li These are icons using aliases {@icon-download@} {@icon-expand-down@} {@icon-rapid-deploy@}