.language-selector
    ul.language-selector__list
        li.language-selector__item
            a.language-selector__link(href='#lang-net') .NET
        li.language-selector__item
            a.language-selector__link(href='#lang-js') Javascript
        li.language-selector__item
            a.language-selector__link(href='#lang-java') Java
        li.language-selector__item
            a.language-selector__link(href='#lang-javarx') Java RX
        li.language-selector__item
            a.language-selector__link.language-selector__link--active(href='#lang-swift') Swift
        li.language-selector__item
            a.language-selector__link(href='#lang-ts') Typescript
        li.language-selector__item
            a.language-selector__link(href='#lang-php') PHP
        li.language-selector__item
            a.language-selector__link(href='#lang-curl') cURL