h3 Unordered list
ul
    li  You'll use the Kentico Cloud boilerplate.
    li  404 error handling, logging, sitemap.xml generator, and more.
        ul 
            li Open a command line, register the 
                i ASP.NET Core MVC with Kentico Cloud 
                | custom template within your .NET Core templates by running the following command.
            li An IDE (such as 
                a(href='#') Visual Studio 2017
                | ) or the text editor of your choice.
                ul
                    li Right now the app fetches content from the default Sample Project and displays a preview of 3 articles.
                    li To make further app development easier.
    li  Configure the app features.
h3 Ordered list with unordered list inside
ol
    li  You'll use the Kentico Cloud boilerplate.
    li  404 error handling, logging, sitemap.xml generator, and more.
        ul 
            li Open a command line, register the 
                i ASP.NET Core MVC with Kentico Cloud 
                | custom template within your .NET Core templates by running the following command.
            li An IDE (such as 
                a(href='#') Visual Studio 2017
                | ) or the text editor of your choice.
                ol
                    li Right now the app fetches content from the default Sample Project and displays a preview of 3 articles.
                    li To make further app development easier.