.article__sub-navigation-trigger(data-toggle-trigger='sub-navigation', aria-hidden='true')
ul.sub-navigation.sub-navigation--level-1.sub-navigation--top(data-toggle-target='sub-navigation')
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Scenario
    li.sub-navigation__item
        a.sub-navigation__link.sub-navigation__link--active(href='#') Longer scenario
        ul.sub-navigation.sub-navigation--level-2
            li.sub-navigation__item
                a.sub-navigation__link(href='#') Topic
                ul.sub-navigation.sub-navigation--level-3
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Article
            li.sub-navigation__item
                a.sub-navigation__link.sub-navigation__link--active(href='#') Longer topic
                ul.sub-navigation.sub-navigation--level-3
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Article
                    li.sub-navigation__item
                        a.sub-navigation__link.sub-navigation__link--active(href='/article') Longer article
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Very very long article
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Very and extremely talkative article name
            li.sub-navigation__item
                a.sub-navigation__link(href='/article') Very long topic
                ul.sub-navigation.sub-navigation--level-3
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Article
                    li.sub-navigation__item
                        a.sub-navigation__link.sub-navigation__link--active(href='/article') Longer article
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Very very long article
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Very and extremely talkative article name
            li.sub-navigation__item
                a.sub-navigation__link(href='#') Extremely talkative topic name
                ul.sub-navigation.sub-navigation--level-3
                    li.sub-navigation__item
                        a.sub-navigation__link(href='/article') Article
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Supersonicaly talkative scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Not the longest scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Yep, long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extreme scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extremely talkative scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extremely talkative scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Supersonicaly talkative scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Not the longest scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Yep, long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extreme scenario name
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extremely talkative scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Very long scenario
    li.sub-navigation__item
        a.sub-navigation__link(href='#') Extremely talkative scenario name