h2 Heading level 2
p Paragraph. Kentico Cloud is a 
    a(href='#') cloud-first headless CMS
    |  for digital agencies and their clients which allows you to manage all your content in one place, display that content on any channel using a 
    strong REST API 
    | and personalize the customer experience.
h3 Heading level 3
p Paragraph. To make further app development easier, we recommend using the 
    strong Kentico Cloud 
    | model generator for .NET to create strongly-typed models representing your content types.
h4 Heading level 4
p In a production environment (that is when the app is run with a production profile), all errors are still logged, but a custom error page is displayed instead of the stack trace.