extends ../includes/layout.pug
block content
    #redoc
    script(src='https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js')
    script.
        Redoc.init('https://gist.githubusercontent.com/jancerman/248759d3ae8b088dee38c983adca949f/raw/8ac4355e098ae5f38d3e581f91524bd563426a32/OHP%20OAS%20Proto.yaml', {
            scrollYOffset: 60,
            hideDownloadButton: true,
            theme: {
                colors: {
                   primary: {
                       main: '#e75810'
                   } 
                },
                typography: {
                    fontFamily: 'Source Sans Pro, Helvetica, Arial, sans-serif',
                    fontSize: '1em',
                    fontWeightBold: '700',
                    smoothing: 'none',
                    headings: {
                        fontFamily: 'Source Sans Pro, Helvetica, Arial, sans-serif',
                        fontWeight: '400',
                        lineHeight: '1.25em',
                        fontSize: '1.875em',
                    },
                    code: {
                        fontSize: '1em',
                        fontFamily: 'Inconsolata, monospace',
                        color: '#000',
                        backgroundColor: '#f5f2f0',
                    }
                },
                rightPanel: {
                    backgroundColor: '#fff',
                    width: '40%',
                    textColor: '#2D373B',
                },
                codeSample: {
                    backgroundColor: '#f5f2f0',
                }
            }
        }, document.getElementById('redoc'), function () {
            var preselectedPlatform = helper.getCookie('KCDOCS.preselectedLanguage');

            document.querySelectorAll('.react-tabs__tab').forEach((item) => {
                var idName = item.innerHTML.replace(/\./g, '_').toLowerCase();
                console.log(idName, preselectedPlatform);
                if (idName === preselectedPlatform) {
                    item.click();
                }
            });
        });