.anchor-copy {
    cursor: pointer;   
    opacity: 0;
    transition: .25s;
    position: relative;

    &:before {
        font-size: 16px;
        content: '#';
        display: inline-block;
        width: 1.5em;
        padding: .25em 0;
        background-position: center center;
        background-size: 1em 1em;
        background-repeat: no-repeat;
        margin: 0 0 0 .375em;
        border-radius: .5em;
        text-align: center;
        color: #F05A22;
        position: relative;
        top: -.125em;
        line-height: 1em;
    }

    h2:hover &, h3:hover &, h4:hover & {
        opacity: 1;
        
    }

    &:hover {
        &:before {
            background-color: #e8e8e8;
        }
    }
}

h2 .anchor-copy:hover .anchor-copy__tooltip {
    top: 30%;
}

h3 .anchor-copy:hover .anchor-copy__tooltip {
    top: 15%;
}

h4 .anchor-copy:hover .anchor-copy__tooltip {
    top: 10%;
}