.anchor-copy {
    cursor: pointer;   
    opacity: 0;
    transition: .25s;
    position: relative;
    top: .075em;

    &:before {
        font-size: 16px;
        content: '';
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-image: url('../img/ui/copy.svg');
        background-position: center center;
        background-size: 1em 1em;
        background-repeat: no-repeat;
        margin: 0 0 0 .375em;
        border-radius: .5em;
    }

    h2:hover &, h3:hover &, h4:hover & {
        opacity: 1;
        
    }

    &:hover {
        &:before {
            background-color: #e8e8e8;
        }
    }

    &__tooltip {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin-top: -7px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;

        &:after {
            font-size: 14px;
            line-height: 1.375em;
            background-color: #3b3638;
            color: #E3E9EC;
            white-space: nowrap;
            text-align: center;
            padding: .25em .75em;
            display: block;
            font-weight: 300;
            overflow: visible;
            font-style: normal;
            border-radius: .5em;
        }

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 10px 7px 0;
            border-color: transparent #3b3638 transparent transparent;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }

    &:hover {
        .anchor-copy__tooltip {
            width: auto;
            height: auto;
            left: ~"calc(100% + 10px)";
            clip: auto;
            overflow: visible;
        }
    }
}

h2 .anchor-copy:hover .anchor-copy__tooltip {
    top: 30%;
}

h3 .anchor-copy:hover .anchor-copy__tooltip {
    top: 15%;
}

h4 .anchor-copy:hover .anchor-copy__tooltip {
    top: 10%;
}