.button, a.button, .cta .call-to-action {
    background-color: #008ae1;
    border-bottom: .25em solid #0077c2;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: .5em 1.75em;
    display: inline-block;
    cursor: pointer;
    transition: background-color .25s, border-color .25s;

    @media screen and (min-width: 480px) {
        font-size: 1.125em;
    }

    &:hover,
    &:active {
        background-color: #ED6A56;
        border-color: #ED6A56;
    }

}