.callout {
    border-left: .5em solid;
    padding: 1em 1.25em 1.25em;
    margin: 0 0 1em;
    box-sizing: border-box;

    &--tip {
        background-color: #C8E2C4;
        border-color: #00A54B;

        .callout__title, & > p:first-child > strong {
            color: #00A54B;

            &:before {
                content: @icon-check-circle;
            }
        }    
    }

    &--warning {
        background-color: #FACDBD;
        border-color: #F16A38;

        .callout__title, & > p:first-child > strong {
            color: #F16A38;

            &:before {
                content: @icon-times-circle;
            }
        }
    }

    &--note {
        background-color: #E3E9EC;
        border-color: #7C909B;

        .callout__title, & > p:first-child > strong {
            color: #7C909B;

            &:before {
                content: @icon-exclamation-triangle;
            }
        }
    }

    &--info {
        background-color: #C0EAFF;
        border-color: #008AE1;

        .callout__title, & > p:first-child > strong {
            color: #008AE1;

            &:before {
                content: @icon-i-circle;
            }
        }
    }

    &__title, & > p:first-child > strong {
        font-weight: 700;

        &:before {
            font-family: 'kentico-icons';
            display: inline-block;
            padding: 0 .75em 0 0;
            width: 1em;
            font-weight: normal;
            position: relative;
            top: 1px;
        }
    }

    & > p:first-child > strong {
        margin-left: -1.75em;
        padding: 0 0 .375em;
    }

    p, figure {
        padding: 0 0 .5em 1.75em;

        &:first-child, &:last-child {
            padding-bottom: 0;
        }
    }

    figcaption {
        p {
            padding-left: 0; 
        }
    }

    ul {
        padding-left: 2.75em;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

