.callout {
    border-left: .25em solid;
    padding: 1em 1.25em 1.25em;
    margin: 0 0 1em;

    &--tip {
        background-color: #ebf9f1;
        border-color: #22a361;

        .callout__title, & > p:first-child > strong {
            color: #22a361;

            &:before {
                content: @icon-check-circle;
            }
        }    
    }

    &--warning {
        background-color: #fff4ed;
        border-color: #f6843f;

        .callout__title, & > p:first-child > strong {
            color: #f6843f;

            &:before {
                content: @icon-times-circle;
            }
        }
    }

    &--note {
        background-color: #fafafa;
        border-color: #737373;

        .callout__title, & > p:first-child > strong {
            color: #737373;

            &:before {
                content: @icon-exclamation-triangle;
            }
        }
    }

    &--info {
        background-color: #edf6ff;
        border-color: #3f97f5;

        .callout__title, & > p:first-child > strong {
            color: #3f97f5;

            &:before {
                content: @icon-i-circle;
            }
        }
    }

    &__title, & > p:first-child > strong {
        font-weight: 700;

        &:before {
            font-family: 'kentico-icons';
            display: inline-block;
            padding: 0 .5em 0 0;
            width: 1em;
        }
    }

    & > p:first-child > strong {
        margin-left: -1.5em;
    }

    p {
        padding: 0 0 .5em 1.5em;

        &:first-child, &:last-child {
            padding-bottom: 0;
        }
    }

    ul {
        padding-left: 2.75em;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

