.filter {
    position: relative;
    display: block;
    max-width: 290px;
    margin: 0 0 2em;

    .aside:not(.aside--top) & {
        margin: 1.5em 0 2em;
    }

	&__list {
        &,
        ul& {
            opacity: 1;
            visibility: visible;
            z-index: 5555;
            padding: .675em 0;
        }

        &--toggle,
        ul&--toggle {
            padding: 0;
        }
	}

	&__item {
        &,
        ul.filter__list > li& {
            border: none;
            width: 100%;
            box-sizing: border-box;
            padding: .5em 1em .5em 2.25em;
            text-align: left;
            cursor: pointer;
            font-size: .875em;
            transition: .25s all;
            position: relative;

            &:before {
                content: '';
                width: 1.25em;
                height: 1.25em; 
                border-radius: .5em .5em .25em;
                background-color: transparent;
                position: absolute;
                left: 0;
                top: 0.5em;
                border: 1px solid rgba(35,31,32,0.25);
            }
    
            &:hover,
            &--active {
                margin: 0;
                border: none;
                font-weight: 300;
                color: #F05A22;
            }

            &--active {
                &:after {
                    position: absolute;
                    content: '';
                    top: .675em;
                    left: .5em;
                    width: .25em;
                    height: .675em;
                    transform: rotate(45deg);
                    border: 2px solid #f05a22;
                    border-width: 0 2px 2px 0;
                    border-radius: 2px;
                }
            }
        }
    }
}

ul.filter__list--toggle,
.filter__list--toggle {
    display: flex;

    li.filter__item,
    .filter__item {
        border: 1px solid #d9d8d8;
        padding: .5em 1em;
        white-space: nowrap;
        text-align: center;

        &:before,
        &:after {
            display: none;
        }

        &:hover {
            color: #F05A22;
            border: 1px solid #d9d8d8;
        }

        &--active {
            border: 1px solid #F05A22;
            background-color: #fff3ef;
            color: #F05A22;
            font-weight: 500;

            &:hover {
                color: #F05A22;
                border: 1px solid #F05A22;
                font-weight: 500;
            }
        }

        &:first-child {
            border-radius: .5em 0 0 .5em;
        }

        &:last-child {
            border-radius: 0 .5em .5em 0;
        }
    }
}

.filter-hidden {
    display: none;
}

.breaking-hidden {
    display: none;
}

.filter-label {
    display: block;
    padding: 0 .5em 0 0;
}