[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    font-family: "kentico-icons"; // Better Font Rendering in Chrome
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
}

[class^="icon-"]:before {
    content: @icon-square;
}

// Icon aliases

/*----------------------------------------------------------------------------*\
    #navigation
\*----------------------------------------------------------------------------*/

.icon-app-menu:before {
    content: @icon-kentico;
}

.icon-back:before {
    content: @icon-chevron-left;
}

.icon-close:before {
    content: @icon-times;
}

/*----------------------------------------------------------------------------*\
    #Main menu
\*----------------------------------------------------------------------------*/

.icon-content-models:before {
    content: @icon-layout;
}

.icon-content-and-assets:before {
    content: @icon-paragraph-center;
}

.icon-settings:before {
    content: @icon-cogwheel;
}

.icon-quickstart:before {
    content: @icon-graduate-cap;
}

.icon-audience:before {
    content: @icon-piechart;
}

.icon-resources:before {
    content: @icon-question-circle;
}

/*----------------------------------------------------------------------------*\
    #Dropdown
\*----------------------------------------------------------------------------*/

.icon-forward:before {
    content: @icon-chevron-right;
}

.icon-configure-menu:before {
    content: @icon-cogwheel;
}

.icon-suggest:before {
    content: @icon-suggest;
}

/*----------------------------------------------------------------------------*\
    #compose
\*----------------------------------------------------------------------------*/

.icon-controls:before {
    content: @icon-square-dashed-line;
}

.icon-design:before {
    content: @icon-palette;
}

.icon-edit:before {
    content: @icon-edit;
}

.icon-no-controls:before {
    content: @icon-square-dashed;
}

/*----------------------------------------------------------------------------*\
    #statuses
\*----------------------------------------------------------------------------*/

.icon-error:before {
    content: @icon-times-circle;
}

.icon-in-progress:before {
    content: @icon-spinner;
}

.icon-success:before {
    content: @icon-check-circle;
}

.icon-warning:before {
    content: @icon-exclamation-triangle;
}

.icon-is-available:before {
    content: @icon-check-circle;
}

.icon-resolved:before {
    content: @icon-check-circle;
}

/*----------------------------------------------------------------------------*\
    #crud
\*----------------------------------------------------------------------------*/

.icon-add:before {
    content: @icon-plus;
}

.icon-assign:before {
    content: @icon-plus;
}

.icon-create:before {
    content: @icon-plus;
}

.icon-delete:before {
    content: @icon-bin;
}

.icon-drag:before {
    content: @icon-dots-vertical;
}

.icon-more-actions {
    transform: rotate(90deg);
}

.icon-more-actions:before {
    content: @icon-ellipsis;
}

.icon-order-ascending:before {
    content: @icon-caret-up;
}

.icon-order-descending:before {
    content: @icon-caret-down;
}

.icon-remove:before {
    content: @icon-times;
}

.icon-save:before {
    content: @icon-arrow-down-line;
}

/*----------------------------------------------------------------------------*\
    #rte
\*----------------------------------------------------------------------------*/

.icon-autogenerate:before {
    content: @icon-rotate-double-right;
}

.icon-insert-image:before {
    content: @icon-picture;
}

.icon-insert-list-ordered:before {
    content: @icon-list-numbers;
}

.icon-insert-list-unordered:before {
    content: @icon-list-bullets;
}

.icon-insert-modular:before {
    content: @icon-puzzle;
}

.icon-insert-component:before {
    content: @icon-collapse-scheme;
}

.icon-insert-table:before {
    content: @icon-table;
}

.icon-link:before {
    content: @icon-chain;
}

.icon-undo:before {
    content: @icon-arrow-curved-left;
}

.icon-unlink:before {
    content: @icon-chain-slash;
}

.icon-convert:before {
    content: @icon-convert;
}

.icon-bubble:before {
    content: @icon-bubble;
}

.icon-bubble-comment:before {
    content: @icon-bubble-o;
}

/*----------------------------------------------------------------------------*\
    #projects
\*----------------------------------------------------------------------------*/

.icon-archive:before {
    content: @icon-arrow-down-line;
}

.icon-restore:before {
    content: @icon-arrow-up-line;
}

/*----------------------------------------------------------------------------*\
    #asset-uploader
\*----------------------------------------------------------------------------*/

.icon-download:before {
    content: @icon-arrow-down-line;
}

.icon-generic-document:before {
    content: @icon-doc-o;
}

.icon-upload:before {
    content: @icon-arrow-up-line;
}

.icon-asset-skeleton:before {
    content: @icon-picture;
}

/*----------------------------------------------------------------------------*\
    #bar-item
\*----------------------------------------------------------------------------*/

.icon-collapse:before {
    content: @icon-chevron-down;
}

.icon-collapse-up:before {
    content: @icon-chevron-up;
}

.icon-expand:before {
    content: @icon-chevron-right;
}

.icon-expand-down:before {
    content: @icon-chevron-down;
}

/*----------------------------------------------------------------------------*\
    #content-item-toolbar__workflow-status
\*----------------------------------------------------------------------------*/

.icon-configure:before {
    content: @icon-edit;
}

.icon-published-status:before {
    content: @icon-book-opened;
}

/*----------------------------------------------------------------------------*\
    #codename
\*----------------------------------------------------------------------------*/

.icon-copy:before {
    content: @icon-doc-copy;
}

/*----------------------------------------------------------------------------*\
    #comments
\*----------------------------------------------------------------------------*/

.icon-comments:before {
    content: @icon-bubbles;
}

.icon-plus-circle:before {
    content: @icon-plus-circle;
}

.icon-approve:before {
    content: @icon-check;
}

/*----------------------------------------------------------------------------*\
    #tree
\*----------------------------------------------------------------------------*/

.icon-expand-tree:before {
    content: @icon-chevron-down;
}

/*----------------------------------------------------------------------------*\
    #filter
\*----------------------------------------------------------------------------*/

.icon-clear-filter:before {
    content: @icon-times-circle;
}

/*----------------------------------------------------------------------------*\
    #password-field
\*----------------------------------------------------------------------------*/

.icon-mask-password:before {
    content: @icon-eye-slash;
}

.icon-unmask-password:before {
    content: @icon-eye;
}

/*----------------------------------------------------------------------------*\
    #codenames
\*----------------------------------------------------------------------------*/

.icon-codename:before {
    content: @icon-braces-octothorpe;
}

/*----------------------------------------------------------------------------*\
    #preview
\*----------------------------------------------------------------------------*/

.icon-preview:before {
    content: @icon-eye;
}

/*----------------------------------------------------------------------------*\
    #content-elements
\*----------------------------------------------------------------------------*/

.icon-configure-type-element:before {
    content: @icon-cogwheel;
}

.icon-content-element-asset:before {
    content: @icon-picture;
}

.icon-content-element-date-time:before {
    content: @icon-calendar;
}

.icon-content-element-guidelines:before {
    content: @icon-scheme-path-circles;
}

.icon-content-element-guidelines-flipped:before {
    content: @icon-scheme-path-circles-flipped;
}

.icon-content-element-modular-content:before {
    content: @icon-puzzle;
}

.icon-content-element-multiple-choice:before {
    content: @icon-cb-check;
}

.icon-content-element-number:before {
    content: @icon-octothorpe;
}

.icon-content-element-rich-text:before {
    content: @icon-paragraph;
}

.icon-content-element-custom:before {
    content: @icon-dialog-window-cogwheel;
}

.icon-content-element-snippet:before {
    content: @icon-l-list-article;
}

.icon-content-element-taxonomy:before {
    content: @icon-drawers;
}

.icon-content-element-text:before {
    content: @icon-paragraph-short;
}

.icon-content-element-url-slug:before {
    content: @icon-chain;
}

.icon-remove-multi-select-option:before {
    content: @icon-times;
}

/*----------------------------------------------------------------------------*\
    #Language switcher
\*----------------------------------------------------------------------------*/

.icon-select:before {
    content: @icon-cb-uncheck;
}

.icon-selected:before {
    content: @icon-check;
}

.switch-icon-select:hover .icon-select:before {
    content: @icon-check;
}

/*----------------------------------------------------------------------------*\
    #Miscellaneous
\*----------------------------------------------------------------------------*/

.icon-arrow-right-top-square:before {
    content: @icon-arrow-right-top-square;
}

.icon-arrow-right:before {
    content: @icon-arrow-right;
}

.icon-calendar:before {
    content: @icon-calendar;
}

.icon-caret-left:before {
    content: @icon-caret-left;
}

.icon-caret-right:before {
    content: @icon-caret-right;
}

.icon-chain:before {
    content: @icon-chain;
}

.icon-chevron-double-down:before {
    content: @icon-chevron-double-down;
}

.icon-chevron-down:before {
    content: @icon-chevron-down;
}

.icon-chevron-right:before {
    content: @icon-chevron-right;
}

.icon-clock:before {
    content: @icon-clock;
}

.icon-cloud:before {
    content: @icon-cloud;
}

.icon-i-circle:before {
    content: @icon-i-circle;
}

.icon-menu:before {
    content: @icon-menu;
}

.icon-rotate-left:before {
    content: @icon-rotate-left;
}

.icon-times:before {
    content: @icon-times;
}

.icon-translate:before {
    content: @icon-translate;
}

.icon-question-circle:before {
    content: @icon-question-circle;
}

/*----------------------------------------------------------------------------*\
    #quickstart
\*----------------------------------------------------------------------------*/

.icon-talk:before {
    content: @icon-bubbles;
}

.icon-education:before {
    content: @icon-graduate-cap;
}

.icon-rapid-deploy:before {
    content: @icon-truck;
}

.icon-quick-build:before {
    content: @icon-watch;
}

.icon-code:before {
    content: @icon-xml-tag;
}

.icon-documentation:before {
    content: @icon-book-opened;
}

/*----------------------------------------------------------------------------*\
    #welcome
\*----------------------------------------------------------------------------*/

.icon-sample-content:before {
    content: @icon-doc-o;
}

.icon-collaborate:before {
    content: @icon-users;
}

.icon-sample-apps:before {
    content: @icon-smartphone;
}

/*----------------------------------------------------------------------------*\
    #onboarding
\*----------------------------------------------------------------------------*/

.icon-layout-header-cols2-footer:before {
    content: @icon-l-header-cols-2-footer;
}

.icon-layout-header-cols2:before {
    content: @icon-layout;
}

.icon-two-way-arrows:before {
    content: @icon-arrows-h;
}

.article__content [target="_blank"] {
    &:after {
        content: @icon-arrow-right-top-square;
        font-family: 'kentico-icons';
        font-style: normal;
        display: inline-block;
        padding: 0 .375em 0 .125em;
        font-size: .675em;
        position: relative;
        top: -.325em;
    }
}