.language-selector {
    overflow: auto;
    margin: 0 0 1em 0;
    font-size: .875em;

    .article__content > &:not(.language-selector--fixed) {
        @media (min-width: 1150px) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    &::-webkit-scrollbar {
        height: 8px;
        border-radius: 4px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #ccc;
    }

    ul&__list {
        list-style-type: none;
        padding: 0;
        white-space: nowrap;
        margin: 0 0 .5em 0;
    }

    ul > li&__item { 
        padding: 0;
        display: inline-block;
        
        &:before {
            display: none;
        }
    } 

    a&__link {
        border-bottom: 1px solid transparent;
        display: block;
        text-align: center;
        padding: .5em 0;
        margin: 0 1em;
        color: #262524;
        text-decoration: none;
        white-space: nowrap;
        transition: background-color .25s, color .25s;

        .language-selector__item:first-child & {
            margin-left: 0;
        }

        &:hover,
        &--active {
            border-color: #F05A22;
        }

        &--active {
            font-weight: 400;
        }
    }

    &--fixed {
        display: none;
        font-size: 1em;
        z-index: 5556;

        @media (min-width: 1150px) {
            display: block;
            position: fixed;
            top: 3.75em;
            width: 920px;
            max-width: 70% !important;
            overflow: visible;
            margin: 0;
            transition: opacity .25s;
            opacity: 1;
            visibility: visible;

            .language-selector__label {
                width: 165px;
                height: 3.2857em;
                line-height: 3em;
                position: absolute;
                font-size: .875em;
                right: 0;
                border: 1px solid #d9d8d8;
                box-sizing: border-box;
                padding: 0.125em 3.125em;
                cursor: pointer;
                top: 1.75em;
                color: #918f8f;
                border-radius: 1.4285em 1.4285em 1.4285em .5714em;
                margin-top: .5em;
                background-repeat: no-repeat;
                background-position: top 50% left 1.25em;
                background-size: 16px auto;

                &:before {
                    font-family: 'kentico-icons';
                    content: "\e66f";
                    font-size: 1em;
                    position: absolute;
                    top: 0;
                    right: 1.25em;
                    color: #231F20;
                    line-height: 3.2857em;
                }
            }
    
            .language-selector__list {
                width: 165px;
                position: absolute;
                right: 0;
                top: 5.25em;
                background-color: #fff;
                visibility: hidden;
                opacity: 0;
                transition: .25s;
                box-shadow: 0 0 2em 0 rgba(35,31,32,0.25);
                border-radius: .5em 1.25em 1.25em 1.25em;
                padding: .675em 0;
            }
    
            .language-selector__item {
                display: block;

                &:first-child {
                    a.language-selector__link {
                        border: none;
                    }
                }
            }

            .language-selector__link {
                border: none;
                width: 100%;
                box-sizing: border-box;
                padding: 0.5em 3.25em;
                text-align: left;
                text-transform: none;
                font-size: .875em;
                margin: 0;
                background-repeat: no-repeat;
                background-position: top 50% left 1.25em;
                background-size: 16px auto;
    
                &:hover,
                &--active {
                    margin: 0;
                    border: none;
                    font-weight: 300;
                    color: #F05A22;
                }
            }

            .language-selector__fixed-label {
                position: absolute;
                top: 0;
                right: 0;
                width: 165px;
                font-size: 1em;
                color: #231F20;
                font-weight: 400;
            }
        }

        @media (min-width: 1440px) {
            width: 1005px;

            .language-selector__label,
            .language-selector__fixed-label,
            .language-selector__list {
                width: 250px;
            }
        }
    }

    &--visible {
        opacity: 1;
        visibility: visible;
    }

    &--opened {
        .language-selector__list {
            opacity: 1;
            visibility: visible;
        }

        .language-selector__label {
            border-color: #F05A22;
            color: #231F20;

            &:before {
                content: '\e667';
            }
        }
    }
 }