.suggestion {
    display: block;
    text-decoration: none;
    color: #6b6b6b;

    &--empty {
        padding: 0.375em 0.875em;
        border: 0.125em solid #dfdfdf;
        border-top: none;

        @media screen and (min-width: 480px) {
            padding: 0.5em 1.125em;
        }
    }

    &__heading {
        font-size: 1.125em;
        color: #262524;
        padding: 0 0 .125em;
    } 

    &__sub-heading {
        color: #262524;
        font-size: 1em;
        line-height: 1.375em;
        display: block;
    }

    &__category {
        color: #6b6b6b;
        font-size: .75em;
        line-height: 1.375em;
        text-transform: uppercase;
        padding-left: 1em;
        font-weight: 700;
        position: relative;
        top: -.125em;
    }

    &__text {
        color: #6b6b6b;
        font-size: .875em;
        line-height: 1.375em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    em {
        font-weight: 700;
        font-style: normal;
        color: #20a46f;
    }
}