nav.navigation
    .navigation__wrapper
        .navigation__left
            a.navigation__logo(href='https://kenticocloud.com/', rel='noreferrer')
                img(src='/img/kc-logo.svg', alt='Kentico Cloud logo')
            a.navigation__title(href='/') Docs