doctype html
html(lang='en')
    head
        include ./head.pug
    body(ontouchstart).api-reference
        if (process.env['GTM.id'])
            noscript
                iframe(src=`https://www.googletagmanager.com/ns.html?id=${process.env['GTM.id']}`, height='0', width='0', style='display:none;visibility:hidden')
        include ./navigation.pug
        include ../../../redoc-static.html
        include ./footer.pug