doctype html
html(lang='en')
    head
        title Cache Keys
    body
        table
            each item in keys
                - var name = item.split('_'); if (name.length > 1) { name.length = name.length - 1 }; name = name.join('_');
                tr
                    td !{name}
                    td 
                        a(href=`/cache-invalidate/keys/${item}`, target='_blank') Inspect
                    td 
                        a(href=`/cache-invalidate/keys/${item}/invalidate`) Invalidate
