extends ../includes/layout.pug
block content
    main(id='main').presentation
        .article
            .article__content
                h1 Active redirects
                h2 Redirect rules
                table
                    tr
                        td Redirect from
                        td Redirect to
                    each url in redirectRules   
                        tr
                            td
                                each redirect in url.redirectUrls
                                    div #{redirect}
                                else
                                    div There are no Redirect rules set up in the current project.
                            td
                                a(href= req.protocol + '://' + req.get('host') + url.originalUrl, target='_blank') #{url.originalUrl}
                h2 Redirect URLs for articles and scenarios
                table
                    tr
                        td Redirect from
                        td Redirect to
                    each url in redirectMap    
                        tr
                            td
                                each redirect in url.redirectUrls
                                    div #{redirect}
                                else
                                    div There are no redirects in articles or scenarios.
                            td 
                                a(href= req.protocol + '://' + req.get('host') + url.originalUrl, target='_blank') #{url.originalUrl}
            