extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__content
                | !{content}
    script console.log(`#{req.err.stack.replace(/\\/g, '/')}`);