extends ../includes/layout.pug
block content
    .hero
        .hero__wrapper
            .hero__left
                h1.hero__heading !{title}
                form.hero__search
                    .hero__search-icon(aria-hidden='true')
                    label.sr-only(for='nav-search') Search for guides, how to's and more
                    input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder='Search for guides, how to\'s and more')
                #searchbox
                a.hero__note-link(href="#") What is headless CMS?
            .hero__right
                .hero__screen
    main(id='main').presentation
        section.presentation__section
           | !{signposts}
    aside.border-top
        .cta
            h2.cta__heading Still don’t know what to do?
            div
                a.button(href="#") Contact our support
            div
                a.cta__link(href="#") Join our developer community
        
    