extends ../includes/layout.pug
block content
    main(id='main').presentation
        .article
            .article__content
                h1 #{title}
                table
                    tr
                        td Original URL
                        td Vanity URLs
                    each url in vanityMap    
                        tr
                            td 
                                a(href= req.protocol + '://' + req.get('host') + url.originalUrl, target='_blank') #{url.originalUrl}
                            td
                                each vanity in url.vanityUrls
                                    div #{vanity}
            